.contentdevices	{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
min-height: 100%;
padding-bottom: 150px;
display: flex;
align-items: center;
padding-top: 1cm;
justify-content: center;
padding: 1cm;
margin: auto;
align-content: center;
margin: auto;
background-color: #c6e4ee;
}

.Submitbutton{
	margin: auto;
	width: 25%;
	text-align: center;
	background-color: #add8e6;
	border: 1px solid;
	border-radius: 5px;
	margin-top: 1rem;
}




html{
	margin: 0em;
	padding: 0em;
	background-color: #4eb3e2;
}
body{
	margin: 0;
	background-color: ivory;
	padding: 0;
	height: 100%;
}

.topLayer{
	background-color: #89CFF0;
}

nav{
	position: sticky;
	top: 0;
}

header{
	display:flex;
	background-color: #4eb3e2;
	justify-content: center;
	flex-wrap: wrap;
	font-family: Arial, Helvetica, sans-serif;
	padding: 1.5rem 0 1.5rem;
}

.navcontainer{
	display:flex;
	// background-color: #4eb3e2;
	justify-content: center;
	flex-wrap: wrap;
	font-family: Arial, Helvetica, sans-serif;
}

.button{
	background-color:#4eb3e2;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(0, 0, 0);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: x-large;
}

.navbutton {
  // background-color: #4CAF50; /* Green */
  border: none;
  color: #000000;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
	border-radius: 0.2rem;
}

.navbutton:hover{
	text-decoration: none;
	background-color: #add8e6;
}

.logo{
	margin-right: auto;
	align-self: center;
}
.nav:hover{
	color: white;
}
footer{
	display:block;
	background-color: #4eb3e2;
	height: 100px;
	width: 100%;
	margin-top: 0em;
	background-size:cover;
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0em;
	bottom:0;
}
.copyright{
	padding-top: 2px;
	vertical-align: center;
}
.head{
	padding-top: 2px;
	vertical-align: center;
	color: rgb(0, 0, 0);
}
a{
	text-decoration: none;
}
.footerlink{
	color: white;
	display: inline;
	text-decoration: none;
}
.footerlink a{
	color: white;
	font-size: small;
}

.contentContainer{
	margin: auto;
	background-color: #c6e4ee;

	.note{
		margin-left: 8.3rem;
		color: #FF0000;
		font-size: 0.6rem;
		// bottom: -60px;
		padding-top: 3rem;
	}

	.contentdevices1{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		min-height: 100%;
		padding-bottom: 150px;
		display: flex;
		align-items: center;
	  padding-top: 1cm;
		justify-content: center;
		padding: 1cm;
		margin: auto;
		align-content: center;
	}

	.contentdevices{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		min-height: 100%;
		padding-bottom: 150px;
		display: flex;
		align-items: center;
	  padding-top: 1cm;
		justify-content: center;
		padding: 1cm;
		margin: auto;
		align-content: center;

		padding-top: 0;
	}
	.Submitbutton{
		margin: auto;
		width: 25%;
		text-align: center;
		background-color: #add8e6;
		border: 1px solid;
		border-radius: 5px;
		margin-top: 1rem;
	}

	.content{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		min-height: 100%;
		padding-bottom: 150px;
		display: flex;
		padding-top: 1cm;
		margin: auto;
		justify-content: center;
		align-content: center;
		background-color: #c6e4ee;


		// .contentdevices{
		// 	font-family: Arial, Helvetica, sans-serif;
		// 	text-align: center;
		// 	min-height: 100%;
		// 	padding-bottom: 150px;
		// 	display: flex;
		// 	align-items: center;
		//   padding-top: 1cm;
		// 	justify-content: center;
		// 	padding: 1cm;
		// 	margin: auto;
		// 	align-content: center;
		// }
	}
}

.card{
	background-color: #9DD9F3 !important;
	border-radius: 0.3rem;

	.card-header{
		margin: 0;
		background-color: rgba(0, 0, 0, 0.08);
	}

	.list-group-item{
		background-color: rgba(0, 0, 0, 0.03);
	}
}

.col-md-4{
	width: 100%;
}

.form{
	form{
		padding: 1rem 2rem 2rem;
		// background-color: #4eb3e2;
		background-color: #9DD9F3;
		margin-left: 1rem;
		// height: 100;
		border-radius: 0.3rem;

		.sectionTurnOn, .sectionTurnOff{
			height: 2.5rem;
			position: relative;
			// margin-left: 1rem;
			p{
				// width: 50%;
				float: left;
				margin-left: 1.5rem;
			}
			input{
				float: right;
				// margin-right: 2.7rem;
				margin-right: 1.5rem;
			}
		}

		.sectionSubmit{
			width: 100%;
			margin: 0.5rem auto;

			.submitButton{
				margin: auto;
				width: 25%;
				text-align: center;
				background-color: #add8e6;
				border: 1px solid;
				border-radius: 5px;
			}
		}

		h8{
			font-size: 0.75rem;
			color: #FF0000;
			font-style: italic;
		}
	}
}

.names{
	padding: 40px;
}
.banned{
	display: flex;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	justify-content: center;
	align-content: space-between;
	align-items: center;
	padding: 50px;
	color: red;
}
#logos{
	display: flex;
	justify-content: center;
}
.column{
	padding: 20px;
}
.pad{
	padding: 1cm;
}

/* CSS Specific to home page elements */
#homedescription{
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	padding: 50px;
	height: 100%;
}
.homedescription2{
	font-size: 15pt;
	padding: 20px;
	font-weight: bold;
	text-align: center;
}
input[type=submit]:hover {
	opacity: 0.8;
}
.container {
	border: 3px solid black;
	border-radius: 5px;
	background-color: antiquewhite;
	padding: 40px;
	margin: 200px;
	margin-top: inherit;
	box-sizing: border-box;
}
.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}
.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
// .content{
// 	margin: auto;
// }


////////////////////////////////////////////////////
// Setting Page

.form3{
	width: 50%;
		float:left;
			 	display: inline-block;
	form{
		padding: 1rem 2rem 2rem;
		// background-color: #4eb3e2;
		background-color: #9DD9F3;
		margin-left: 1rem;
		// height: 100;
		border-radius: 0.3rem;
		left: 50%;
		width: 70%;
	 	// display: inline-block;

	}
}

.settingPage{
	label, input, strong{
		margin: 0.2rem auto;
	}
}

.rightSetting{
	label{
		float: left;
		width: 14rem;
	}
}

// End of Setting Page
////////////////////////////////////////////////////

@media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}
#newsinfo ol{
	list-style-type:none;
	margin: 40px;
	padding: 0;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	font-style: oblique;
}
#submitcontent{
	text-align: center;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 200px;
}
.navcontainer2 {
}
