.contentdevices {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100%;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  padding-top: 1cm;
  justify-content: center;
  padding: 1cm;
  margin: auto;
  align-content: center;
  margin: auto;
  background-color: #c6e4ee;
}

table{
font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #63C5DA;
  color: white;
}

.Submitbutton {
  margin: auto;
  width: 25%;
  text-align: center;
  background-color: #add8e6;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 1rem;
}

html {
  margin: 0em;
  padding: 0em;
  background-color: #4eb3e2;
}

body {
  margin: 0;
  background-color: ivory;
  padding: 0;
  height: 100%;
}

.topLayer {
  background-color: #89CFF0;
}

nav {
  position: sticky;
  top: 0;
}

header {
  display: flex;
  background-color: #4eb3e2;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5rem 0 1.5rem;
}

.navcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: #4eb3e2;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: x-large;
}

.navbutton {
  border: none;
  color: #000000;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 0.2rem;
}

.navbutton:hover {
  text-decoration: none;
  background-color: #add8e6;
}

.logo {
  margin-right: auto;
  align-self: center;
}

.nav:hover {
  color: white;
}

footer {
  display: block;
  background-color: #4eb3e2;
  height: 100px;
  width: 100%;
  margin-top: 0em;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0em;
  bottom: 0;
}

.copyright {
  padding-top: 2px;
  vertical-align: center;
}

.head {
  padding-top: 2px;
  vertical-align: center;
  color: black;
}

a {
  text-decoration: none;
}

.footerlink {
  color: white;
  display: inline;
  text-decoration: none;
}

.footerlink a {
  color: white;
  font-size: small;
}

.contentContainer {
  margin: auto;
  background-color: #c6e4ee;
}
.contentContainer .note {
  margin-left: 8.3rem;
  color: #FF0000;
  font-size: 0.6rem;
  padding-top: 3rem;
}
.contentContainer .contentdevices1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100%;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  padding-top: 1cm;
  justify-content: center;
  padding: 1cm;
  margin: auto;
  align-content: center;
}
.contentContainer .contentdevices {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100%;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  padding-top: 1cm;
  justify-content: center;
  padding: 1cm;
  margin: auto;
  align-content: center;
  padding-top: 0;
}
.contentContainer .Submitbutton {
  margin: auto;
  width: 25%;
  text-align: center;
  background-color: #add8e6;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 1rem;
}
.contentContainer .content {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100%;
  padding-bottom: 150px;
  display: flex;
  padding-top: 1cm;
  margin: auto;
  justify-content: center;
  align-content: center;
  background-color: #c6e4ee;
}

.card {
  background-color: #9DD9F3 !important;
  border-radius: 0.3rem;
}
.card .card-header {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.08);
}
.card .list-group-item {
  background-color: rgba(0, 0, 0, 0.03);
}

.col-md-4 {
  width: 100%;
}

.form form {
  padding: 1rem 2rem 2rem;
  background-color: #9DD9F3;
  margin-left: 1rem;
  border-radius: 0.3rem;
}
.form form .sectionTurnOn, .form form .sectionTurnOff {
  height: 2.5rem;
  position: relative;
}
.form form .sectionTurnOn p, .form form .sectionTurnOff p {
  float: left;
  margin-left: 1.5rem;
}
.form form .sectionTurnOn input, .form form .sectionTurnOff input {
  float: right;
  margin-right: 1.5rem;
}
.form form .sectionSubmit {
  width: 100%;
  margin: 0.5rem auto;
}
.form form .sectionSubmit .submitButton {
  margin: auto;
  width: 25%;
  text-align: center;
  background-color: #add8e6;
  border: 1px solid;
  border-radius: 5px;
}
.form form h8 {
  font-size: 0.75rem;
  color: #FF0000;
  font-style: italic;
}

.names {
  padding: 40px;
}

.banned {
  display: flex;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  padding: 50px;
  color: red;
}

#logos {
  display: flex;
  justify-content: center;
}

.column {
  padding: 20px;
}

.pad {
  padding: 1cm;
}

/* CSS Specific to home page elements */
#homedescription {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  padding: 50px;
  height: 100%;
}

.homedescription2 {
  font-size: 15pt;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.container {
  border: 3px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 40px;
  margin: 200px;
  margin-top: inherit;
  box-sizing: border-box;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.form3 {
  width: 50%;
  float: left;
  display: inline-block;
}
.form3 form {
  padding: 1rem 2rem 2rem;
  background-color: #9DD9F3;
  margin-left: 1rem;
  border-radius: 0.3rem;
  left: 50%;
  width: 70%;
}

.settingPage label, .settingPage input, .settingPage strong {
  margin: 0.2rem auto;
}

.rightSetting label {
  float: left;
  width: 14rem;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
#newsinfo ol {
  list-style-type: none;
  margin: 40px;
  padding: 0;
  text-align: center;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 30px;
  font-style: oblique;
}

#submitcontent {
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 200px;
}

/*# sourceMappingURL=style.css.map */
